{
  "extends": [
    "plugin:react/recommended",
    "standard"
  ],
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "xdescribe": true,
    "xit": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "React": true
  },
  "rules": {}
}
